/* 
CSS file for index.html
Created by David Sajdl
Date: 14/02/2013
for Javascript TMA
userName: dsajdl01
Tutor name: Dionisis Dimakopoulos 
*/
/*----------------------------------------------------------------------------------------------------
it was done in 2011 control index juices and fruitjuices pages
----------------------------------------------------------------------------------------------------*/

body 	
	{
     	padding: 0;
     	margin: 0;
     	font-family: Verdana, Arial, sans-serif;
		font-size: 1em;
     }

#main   
	{
	width: 900px;
	margin: 1em auto;
	border: 2px solid #000000;
	}

#header 
	{
	/*border-bottom: 1px solid #000000;*/
	background-color: #d8fa9e;
	}
#commonlinksbar
	{
	text-align: right;
	font-size: 0.75em;
	background-color: #d8fa9e;
	}
#commonlinksbar a:link
	{ text-decoration: none;
	color: #999999;
	}
#commonlinksbar a:hover
	{
	text-decoration: underline;
	color: #000000;
	}
#commonlinksbar a:visited
	{
	color: #999999;
	}
#topnavcontainer
	{
	background-color: #d8fa9e;
	border-bottom: 1px solid #000000;
	}
#topnavbar
	{
	padding: 3px 0;
	margin: 0 0 0 30%;
	}
#topnavbar li
	{
	list-style: none;
	margin: 0;
	display: inline;
	}
#topnavbar li a
	{
	padding: 0 0.3em 3px 0.3em;
	margin-left: 0;
	border: 1px solid #000000;
	background-color: #b8f63d;
	text-decoration: none;
	font: bold 1em Tohamo, Arial, sans-sefir;
	color: #000000;
	}
#topnavbar li a:hover
	{
	background-color: #dcfb9f;
	}
#leftnavcontainer 
	{
	width: 100%; 
	margin-top: 2em;
	}
#leftnavcontainer ul
	{
	margin: 0;
	padding: 0;
	list-style-type: none;
	border-top: 1px solid #000000;
	}
#leftnavcontainer a
	{
	display: block;
	padding: 3px;
	background-color: #b8f63d;
	text-decoration: none;
	border-bottom: 1px solid #000000;
	color: #000000;
	width: 97%
	}
#leftnavcontainer a:link
	{
	text-decoration: none;
	}
#leftnavcontainer a:visited
	{
	text-decoration: none;
	}
#leftnavcontainer a:hover
	{
	background-color: #e6f63c;
	}
#content
	{
	padding-bottom: 50px;
	}

#footer
	{
	border-top: 1px solid #000000;
	line-height: 4em;
	clear:both;
	}
#contentcontainer
	{
	background: #ffffff url(images/leftcol.gif) repeat-y;
	overflow: hidden;
	padding-bottom: 2em;
	}
	
#rightcol
	{
	float: right;
	width:75%;
	}

#leftcol
	{
	float: left;
	width:25%;
	}
/* paragraphs and headings */
	
p 
	{
	padding: 0 0.5em; 
	font-size: smaller;
	}
	
h1 
	{ 
	background: #D8FA9E url(images/yumlogo.gif) no-repeat;
	padding: 15px 0 15px 138px;
	margin: 0;
	font: italic bold 2em Tahoma, Arial, sans-serif;
	color: #000000;
	}
	
h2  
	{
	padding: 0 0.5em; 
	}
.featureblock
	{
	margin: 0.3em 0.3em 0 0.3em;
	padding: 0.3em;
	}
.featureblock h3
	{
	font-family: Tahoma, Arial, sans-seril;
	font-size: 1.2em;
	margin: 0.1em 0;
	border-bottom: 1px solid #999999;
	}
img.feature
	{
	float: left;
	}
.rightimgblock
	{
	border-top: 1px solid #000000;
	margin: 0.5em;
	padding: 0.5em;
	}
.rightimgblock h3
	{
	font-family: Tahoma, Arial, sans-seril;
	font-size: 1em;
	margin: 0.1em 0;
	}
img.rightimg
	{
	float: right;
	border: 1.5px solid #000000;
	margin-left: 0.1em;
	}
#breadcrumbbar 
	{
	font-size: smaller; 
	padding: 0.5em 0 0 1em;
	}
.highlight
	{
	font-weight: bold;
	}
a:link{color:#0000ff;}
a:visited{color:#ff0000;}
a:hover{color:#009900;}

/*---------------------------------------------------------------------------------------------------
controle confirmation page
----------------------------------------------------------------------------------------------------*/
#btnBackToPersonalForm
{
  float: left;
  margin-top: -31px;
  margin-left: 10px;
  padding: 2px 10px 2px 10px;
  font-size: 1.285em;
  background: #e3fdb7;
  text-decoration: none;
  border: 1px solid #999999;
}
#btnBackToPersonalForm:hover
{
  float: left;
  margin-top:  -31px;
  margin-left: 10px;
  padding: 2px 10px 2px 10px;
  font-size: 1.285em;
  background: #eafdc9;
  color: #9e3269;
  text-decoration: underline;
  border: 1px solid #e3fdb7;
}
.btnConfrm
{
  margin: 10px 0px -1px 768px;
  padding: 2px 10px 2px 10px;
  font-size: 1.285em;
  background: #e3fdb7;
  text-decoration: none;
  border: 1px solid #999999;
}
.btnConfrm:hover
{
  margin: 10px 0px -1px 768px;
  padding: 2px 10px 2px 10px;
  font-size: 1.285em;
  background: #eafdc9;
  color: #9e3269;
  text-decoration: underline;
  border: 1px solid #e3fdb7;
}
a.backToAddrPage
{
  font-size: 0.625em;
  margin-left: 15px;
  color: #999999 !important;
  text-decoration: none;
}
a.backToAddrPage:hover
{
  	text-decoration: underline;
  color: #000 !Important;
}

.orderHeadCon
{
	margin-top: 20px;
	margin-bottom: 0px;
	border-bottom: 1px solid #999999;
}
p.rowOdd1
{
  font-size: 1em;
  font-weight: bold;
  background: #d8fa9e;
  padding-top:  5px;
  padding-bottom: 5px;
  margin-bottom: -20px;
}
p.rowEven1
{
  background: #eafdca;
  font-size: 1em;
  font-weight: bold;
   padding-top:  5px;
  padding-bottom: 5px;
    margin-bottom: -20px;
}
#totalOfOrderCon
{
	border-bottom: 1px solid #999999;
}
p.totalResCon
{
  font-size: 1em;
  text-align: right;
  margin-right: 30px;
	margin-top: 1px;  
  
}
.subTableOfOutcome
{
  padding: 0px 1px 40px 1px;
}
#totalWithDiscountCon2
{
   float: right;
  margin-right: 30px;
}
#discountRate1Con
{
  margin-left: 2px;
}
#totalWithVATCon
{
  float: right;
  margin-right: 30px;
}
#VATRate1Con
{
   margin-left: 2px;
}
.mainTable
{
  border: 1px solid #999999;
  margin: 20px 10px 50px 10px;
    background: #d8fa9e;
  padding-bottom: 45px;
  padding-right:10px;
}
.SubTableOfFirstBlog
{
 border: 1px solid #999999;
    background: #ffffff;
  margin: 25px 0px 20px 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.subTableBankAddr,
.subTableCard,
.subTableDel
{
  border: 1px solid #999999;
    background: #ffffff;
  margin-left:15px;
  padding-bottom: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.conSecondTable h3
{
  padding: 5px;
}
#telCon
{
  font-weight: normal;
  padding-left: 5px;
}
#address2Con,
#address1Con,
#mailCon
{
  font-weight: normal;
  padding-right: 100px;
  padding-left: 5px;
}
#cardNameHoldCon
{
    font-weight: normal;
  padding-left: 5px;
}
#typeOfCardCon
{
    font-weight: normal;
  padding-right: 40px;
  padding-left: 5px;
}
#cardNumCon
{
  font-weight: normal;
  padding-left: 10px;
}
#address2BankCon
{
   font-weight: normal;
  padding-right: 10px;
  padding-left: 5px;
}
#address1BankCon
{
   font-weight: normal;
  padding-right: 110px;
  padding-left: 5px;
}
p.rowOdd
{
  font-size: 1em;
  font-weight: bold;
  background: #d8fa9e;
  padding-top:  5px;
  padding-bottom: 5px;
  margin-bottom: -20px;
}
h3.ConHeading
{
  margin-left: 10px;
}
p.rowEven
{
  background: #eafdca;
  font-size: 1em;
  font-weight: bold;
   padding-top:  5px;
  padding-bottom: 5px;
    margin-bottom: -20px;
}
#provinceCon
{
   font-weight: normal;
  padding-left: 5px;
}
#postCodeCon
{
   font-weight: normal;
  padding-left: 5px;
  padding-right: 40px;
}
#cityCon
{
   font-weight: normal;
  padding-left: 5px;
  padding-right: 50px;
}
#secNameCon
{
   font-weight: normal;
  padding-left: 5px;
}
#frsNameCon
{
  font-weight: normal;
  padding-left: 5px;
  padding-right: 50px;
}
#TitleCon
{
  font-weight: normal;
  padding-left: 5px;
  padding-right: 40px;
}
#cvvCon,
#yearCon,
#monthCon
{
  font-weight: normal;
  padding-left: 5px;
  padding-right: 90px;
}
#provinceBankCon
{
   font-weight: normal;
  padding-left: 5px;
}
#postCodeBankCon,
#cityBankCon
{
  font-weight: normal;
  padding-left: 5px;
  padding-right: 40px; 
}
.formDiscription
{
  margin-left: 5px;
  font-size: 1em;
}
/*-----------------------------------------------------------------------------------------------------------
Control address and form page
-----------------------------------------------------------------------------------------------------------------*/
.btnSabmit
{
  margin: 0px 0px 1px 586px;
  padding: 2px 10px 2px 10px;
  font-size: 0.785em;
  background: #e3fdb7;
  text-decoration: none;
  border: 1px solid #999999;
}
.btnSabmit:hover
{
  margin: 0px 0px 1px 586px;
  padding: 2px 10px 2px 10px;
  font-size: 0.785em;
  background: #eafdc9;
  color: #9e3269;
  text-decoration: underline;
  border: 1px solid #e3fdb7;
}
#btnBackToPurchase
{
  float: left;
  margin-top: -27px;
  padding: 2px 10px 2px 10px;
  font-size: 0.785em;
  background: #e3fdb7;
  text-decoration: none;
  border: 1px solid #999999;
}
#btnBackToPurchase:hover
{
  float: left;
  margin-top:  -27px;
  padding: 2px 10px 2px 10px;
  font-size: 0.785em;
  background: #eafdc9;
  color: #9e3269;
  text-decoration: underline;
  border: 1px solid #e3fdb7;
}


/*------------------------------------------------------------
deal with address_form back link and with two lines below
--------------------------------------------------------------------*/
a.backPage
{
  font-size: 0.525em;
  margin-left: 30px;
  color: #999999 !important;
  text-decoration: none;
}
a.backPage:hover
{
  	text-decoration: underline;
  color: #000 !Important;
}
.previoseOrder
{
  margin: 15px 80px 0px 30px;
}
.firstRow
{
  font-size: 1em;
  background: #d8fa9e;
  padding-top:  5px;
  padding-bottom: 5px;
  margin-bottom: -20px;
}
.secondrow
{
   background: #eafdca;
  font-size: 1em;
   padding-top:  5px;
  padding-bottom: 5px;
    margin-bottom: -20px;
  margin-bottom: 0px;
}

#cratesOrder
{
  margin-left: 20px;
   font-weight: bold;
}
#totalSumOrder
{
    font-weight: bold;
  	margin-left: 203px;
}
/*---------------------------------------------------------------
deal with warning messages
------------------------------------------------------------------*/
#address2BankMessage,
#addressBankMessage,
#regionBankAddressMessage,
#postCodeBankMessage,
#cityBankMessage,
#cvvMessage,
#expiryYearMessage,
#expiryMonthMessage,
#cardHolderSecondNameMessage,
#cardHolderFirstNameMessage,
#titleMessage,
#RegionMessage,
#postCodeMessage,
#cityMessage,
#address2Message,
#address1Message,
#comEmailAddressMessage,
#EmaiAddressMessage,
#personTitleMessage,
#secondNameMessage,
#firstNameMessage
{
  color: #9e3269;
  font-size: small;
}
#cardNumberMessage,
#typeOfPaymentMessage,
#typeOfPaymentMessage,
#telNumberMessage
{
  color: #9e3269;
 font-size: small;
 margin-left: 5px;
}
/*---------------------------------------------------------
deal with title in each form
-----------------------------------------------------------*/
p.infrmDetails
{
  font-weight: bold;
  padding-bottom: 5px;
  margin-left: -8px;
}

/*-------------------------------------------------------------
deal with delivere address form 
-------------------------------------------------------------*/
.secondPersonalDetails
{
  background: #d8fa9e;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 40px;
  margin: 0px;
  width: 90%;
}
.rowForAddress1
{
  border: 3px solid #999999;
   background: #ffffff;
  width: 98%;
  margin: 10px 0px 5px 0px;
  padding: 0px 0px 100px 0px;
}
.prsAddress1
{
  width: 47%;
  float: left;
}
.Opt
{
  font-size: 0.655em;
  margin-left: 15px;
}
.prsAddress2
{
  width: 46%;
  float: right;
}
.rowForAddress2
{
  border: 3px solid #999999;
  background: #ffffff;
  width: 98%;
  padding: 0px 0px 100px 0px;
}
.dlCity
{
  width: 30%;
  float: left;
}
.dlPostCode
{
  width: 30%;
  float: left; 
}
#Region
{
  font-size: 0.867em;
}
.dlRegion
{
  float: right;
  width: 30%;
}
/*-----------------------------------------------------------------
deal with personal Infirmation form
-------------------------------------------------------------------*/
.firstPersonalDetails
{
  background: #d8fa9e;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 40px;
  margin: 20px 0px 10px 0px;
  width: 90%;
}
.rowForPrsDerails1
{
  border: 3px solid #999999;
  background: #ffffff;
  width: 98%;
  margin: 10px 0px 5px 0px;
  padding: 0px 0px 100px 0px;
}
.myTitleP
{
  width: 22%;
  float: left;
}
.firstNameP
{
  width: 35%;
  float: left;
}
.secondNameP
{

  width: 35%;
  float: right;
}
.telNumberP
{
  border: 3px solid #999999;
  background: #ffffff;
  width: 95.5%;
  padding-top: 15px;
  padding-bottom: 15px;
}
.rowForPrsDerails2
{
  border: 3px solid #999999;
  background: #ffffff;
  width: 98%;
  margin: 40px 0px 5px 0px;
  padding: 0px 0px 100px 0px; 
}
.mailAddress1
{
  width: 47%;
  float: left;
}
.mailAddress2
{
  width: 47%;
  float: right;
}
/*-------------------------------------------------------
deal with credit card form
--------------------------------------------------------*/
select,
input
{
  border: 1px solid #999999;
}
#btnSameAddress
{
  margin: 10px 0px -1px 58px;
  padding: 2px 5px 2px 5px;
  font-size: 0.785em;
  background: #e3fdb7;
  text-decoration: none;
  border: 1px solid #999999;
}
#btnSameAddress:hover
{
  margin: 10px 0px -1px 58px;
  padding: 2px 5px 2px 5px;
  font-size: 0.785em;
  background: #eafdc9;
  color: #9e3269;
  text-decoration: underline;
  border: 1px solid #e3fdb7;
}

.thirdPersonalDetails
{
  background: #d8fa9e;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
  margin: 10px 0px 50px;
  width: 90%;
}
.typeOfCardP
{
  border: 3px solid #999999;
  background: #ffffff;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 95.5%;
}
.carNumberP
{
  border: 3px solid #999999;
  background: #ffffff;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 95.5%;
  margin-top: 5px;
}
.addrBankRow1
{
  border: 3px solid #999999;
  background: #ffffff;
  width: 98%;
  margin: 30px 0px 5px 0px;
  padding: 0px 0px 100px 0px;
}
.bankAddressCol1
{
  width: 47%;
  float: left;
}
.bankAddressCol2
{
  width: 47%;
  float: right;
}
.addrBankRow2
{
  border: 3px solid #999999;
  background: #ffffff;
  width: 98%;
  padding: 0px 0px 100px 0px;
  margin-bottom: 10px;
}
.bankCity
{
  width: 31%;
  float: left;
}
.bankRegion
{
  width: 30%;
  float: right;
}
.bankPostCode
{
  width: 31%;
  float: left;
}
a.whatIsCvv
{
  font-size: 0.725em;
  margin-left: 4px;
}
a.whatIsCvv:hover
{
  color: #999999 !Important;
  text-decoration: none;
}
.cardFirstRow
{
  border: 3px solid #999999;
  background: #ffffff;
  width: 98%;
  padding: 0px 0px 102px 0px;
  margin-top: 20px;
}
.cardFirstName
{
  width: 35%;
  float: left;
}
.titleP
{
  float:left;
  width: 22%;
}
.cardSecondName
{
  width: 35%;
  float: right;
}
.cardSecondRow
{
  border: 3px solid #999999;
  background: #ffffff;
  margin-top: 20px;
  padding: 0px 0px 100px 0px;
 	width: 98%; 
}
.expireDateP
{
  width: 29%;
  float: left;
}
.expiryYearP
{
  width: 27%;
  float: left;
  margin-top: 36px; 
}
.cvvP
{
 float: right;
  width: 36%;
}
/*---------------------------------------------------------------
deal with whole form
-----------------------------------------------------------------*/
#addresForm p
{
      margin-bottom: -15px;
}
#addresForm
{
  margin: 25px 80px 20px 30px;
  font-size: 1.225em;
  font-family: Palatino;
}
#personal
{
  border: 3px outset #999999;
  padding-left: 25px;
}
legend
{
  background: #d8fa9e;
  padding: 4px 20px 4px 20px;
  font-weight: bold;
  font-family: Arial;
 
}
/*-----------------------------------------------------------------
control top head possetion bar
------------------------------------------------------------------*/

a#comfimCon.confirm,
.address,
.welcome
{
  color: #999999 !important;
}
a#comfimCon.confirm:hover,
.address:hover,
.welcome:hover
{
  color: #cccccc !important;
}
a#comfim.confirm
{
  color: #000000;
}
a.welcome
{
	margin-left: 150px;
}

#paymentTopBar
	{
	background-color: #d8fa9e;
	border-bottom: 1px solid #000000;
  padding-bottom: 5px;
	}

	
/*
.colLeft1,
.lleft
{
    float: left;
} 	

#paymentBar
	{
	background-color: #d8fa9e;
	border-bottom: 1px solid #000000;
	}
#topPaymentBar
	{
	padding: 3px 0;
	margin: 0 0 0 15%;
	}
#topPaymentBar li
	{
	list-style: none;
	margin: 10px;
	display: inline;
	}
#topPaymentBar li a
	{
	padding: 0px 5px 1px 1px;
	text-decoration: none;
	font: bold 1em Tohamo, Arial, sans-sefir;
	color: #000000;
	}
*/
/*-------------------------------------------------------------------------------------------------------------------------
control purchase page
------------------------------------------------------------------------------------------------------------------------*/
.mainOutcome
{
  font-size: 1.555em;
  text-align:right;
    margin: -25px 15px -30px 0px;
}
.totalWithVAT
{
  margin-top: -15px;
  border-bottom: 1px solid #999999;
  margin-left: 200px;
}
.totatWithDiscount
{
  margin-top: -15px;
  border-bottom: 1px solid #999999;
  margin-left: 200px;
}

.VATRate1
{
  margin-top: 5px;
}


#discountRate1
{
  margin-top: -10px;
}
/*----------------------------
*/
.VATRate2
{
  margin-top: 30px;
}

.totalWithVAT2
{
  display: none;
}
.totalOfOrder
{
   text-align: right;
  margin-top: -28px;
  margin-left: 720px;
  margin-right: 5px;
  padding-right: 50px;
  border-bottom: 1px solid #999999;
}
.totalOfOrder2
{
  display: none;
}

.totatWithDiscount2
{
 display: none;
}
h4#titleBill
{
  margin-top: -20px;
  margin-bottom: 30px;
  font-size: 1.525em;
}
.billTable
{
  border: 1px solid #999999;
  margin: -20px 0px -60px 0px;
  padding: 0px 0px 60px 10px;
}
.billTable2
{
  border: none;
}
.tableHead
{
     background: #e0e0e0;
}

td{
  padding: 5px 10px 5px 1px;
  margin: 10px 0px 10px 10px;
  line-height: 150%;
  font-size: 1.199em;
}
.quantConrol
{
   text-align: center;
}
.priceControl
{
   text-align: right;
}
.totalControl
{
   text-align: right;
  padding-right: 20px;
}
.orderHead
{
	margin-top: 20px;
	margin-bottom: 30px;
  margin-right: 25px;
	border-bottom: 1px solid #999999;
}
#orderName
{
   padding-left: 10px;
  padding-right: 130px;
    font-weight: bold;
}
#orderPrice
{
  padding-left: 5px;
  padding-right: 30px;
    font-weight: bold;
}
#orderType
{
 	padding-left: 5px;
  padding-right: 140px;
    font-weight: bold;
}
#orderTotal
{
	  font-weight: bold;
  padding-left: 5px;
  padding-right: 20px;
}
#orderQuantity
{
  padding-left: 5px;
  padding-right: 10px;
    font-weight: bold;
}
.purchaseHowToUse
{
  margin: 10px 35px 40px 25px;
}
.purchaseHowToUse h3
{
  margin-left: 5px;
}
.purchaseHowToUse p
{
  font-size: 1em;
}
.message{
	float: right;
	color:  #d8fa9e;
	margin: 12px -125px 0px 0px;
	font-size: 0.699em;
}
.CirtusMessage,
.AppleMessage,
.PearMessage,
.BananaMessage,
.StrowMessage,
.MixBerryMessage,
.CarrMessage,
.TomatoMessage,
.KiwiMessage,
.BanSmtMessage
{
 	float: right;
	color: #000fff;
	margin: 12px -125px 0px 0px;
	font-size: 0.699em;
}

.purchaseFirstRow{
	margin: 20px 35px 50px 30px;
}
.disc
{
  	color: #9e3269;
  font-weight: bold;
  font-size: 1em;
  margin: -39px 0px 0px 190px;
  border-bottom: 1px solid #9e3269;
}
.price
{
  color: #9e3269;
   font-weight: bold;
  font-size: 1em;
  margin: -21px 0px 0px 430px;
}
.Qunat
{
    color: #9e3269;
   font-weight: bold;
  font-size: 1em;
  margin: -21px 0px 0px 660px;
}
#CitrusDis,
#AppleDis,
#PearDis,
#BananaDis,
#StrowDis,
#MixDis,
#CarrDis,
#TomatoDis,
#KiwiDis
{
	padding: 5px 30px 45px 30px;
	color: #000;
	background: #d8fa9e;
	margin-top: 10px;
	border: 1px solid #999999;
}
#BanSmtDis
{
	padding: 5px 30px 45px 30px;
	color: #000;
	background: #d8fa9e;
	margin-top: 10px;
	border: 1px solid #999999;
	margin-bottom: 10px;
}
#noValuInput
{
	margin: 10px 0px 10px 420px;
	color: #9e3269;
	font-size: 1.115em;
}

.purchaseFirstRow h5{
	color: #9e3269;
	font-size: 1.199em;
	margin-top: 1px;
	margin-bottom: 15px; 
}
.juice1row,
.juice2row
{ 
	margin-top: 5px;
}
#type1,
#type2,
#type3,
#type4,
#type5,
#type6,
#type7,
#type8,
#type9,
#type10
{
  margin: -60px 0px 0px 188px;
  Font-size: 1.199em !Important;
}
#price1,
#price2,
#price3,
#price4,
#price5,
#price6,
#price7,
#price8,
#price9,
#price10
{
  margin: -24px 0px 0px 430px;  
  Font-size: 1.199em !Important;
}
#citrusPrice,
#applePrice,
#pearPrice,
#bananaPrice,
#strowPrice,
#MixBerryPrice,
#CarrPrice,
#tomatoPrice,
#KiwiPrice,
#BanSmtPrice
{
  float: right;
  width: 60px;
  margin: -25px 36px 1px 1px;
  Font-size: 1.189em !Important;
}
#getPaymentIn
{
 	float: right;
  margin: 18px 15px 0px 0px;
  padding: 5px 20px 5px 20px;
  font-size: 1em;
  font-weight: bold;
  background: #d8fa9e;
  text-decoration: none;
  border: 1px solid #999999;
}
#getPaymentIn:hover
{
 	margin: 18px 15px 0px 0px;
  padding: 5px 20px 5px 20px;
  font-size: 1em;
  font-weight: bold;
  background: #b8f63d;
  text-decoration: underline;
  border: 1px solid #efefef;
}
#getSumbtn
{
 	margin: 0px 0px 0px 0px;
  float:right;
  padding: 5px 20px 5px 20px;
  font-size: 1em;
  font-weight: bold;
  background: #d8fa9e;
  text-decoration: none;
  border: 1px solid #999999;
}

#getSumbtn:hover
{
 	margin: 0px;
  float: right;
  padding: 5px 20px 5px 20px;
  font-size: 1em;
  font-weight: bold;
  background: #b8f63d;
  text-decoration: underline;
  border: 1px solid #efefef;
}
a.linkToHowToUsePage
{
  color: #000fff !important;
}
a.linkToHowToUsePage:hover
{
  color: #000000 !important;
}
#breadcrumbbarPur 
{
	font-size: smaller; 
	padding: 0.5em 0 0 1em;
	margin-left: 20px;
}

/*--------------------------------------------------------------
controt for cvv page
-----------------------------------------------------------------*/
.cvvContent
{
  margin: 20px 250px 50px 20px
}
.imgCvv
{
  border: 1px solid #999999;
  margin-left: 5px;
  padding: 20px
}
.btnClose
{
  float:right;
  margin-top: 130px;
  margin-right: 15px;
  padding: 2px 10px 2px 10px;
  font-size: 1em;
  background: #e3fdb7;
  text-decoration: none;
  border: 1px solid #999999;
}
.btnClose:hover
{
  float: right;
  margin-top: 130px;
  margin-right: 15px;
  padding: 2px 10px 2px 10px;
  font-size: 1em;
  background: #eafdc9;
  color: #9e3269;
  text-decoration: underline;
  border: 1px solid #e3fdb7;
}
/*------------------------------------------------------------------------
control for process page
--------------------------------------------------------------------------*/
p.processFirstLine
{
  font-size: 1.200em;
 	 text-align: center;
  margin-top: 130px;
}
img.clockImg
{
  border: 1px solid #999999;
  padding: 20px;
  margin-left: 400px;
}
p.processSecondLine
{
    font-size: 1.200em;
 	 text-align: center;
  margin-top: 30px;
  margin-bottom: 150px;
  font-weight: bold;
}
/*-----------------------------------------------------------------------------------------
control of juices_decision_process
---------------------------------------------------------------------------------------*/
.decsionProcessBlog
{
  margin: 25px 15px 45px 15px;
  padding: 10px 20px;
  border: 1px solid #999999;
}
.decsionProcessBlog h2
{
  margin-left: -10px;
}
.btnBackHome
{
  margin-top: 20px;
  padding: 2px 10px 2px 10px;
  font-size: 1em;
  background: #e3fdb7;
  text-decoration: none;
  border: 1px solid #999999;
}
.btnBackHome:hover
{
  margin-top: 20px;
  padding: 2px 10px 2px 10px;
  font-size: 1em;
  background: #eafdc9;
  color: #9e3269;
  text-decoration: underline;
  border: 1px solid #e3fdb7;
}
/*------------------------------------------------------------------------
How to purchase page control
---------------------------------------------------------------------------*/
.HowtoPurchContent
{
   margin: 30px 250px 50px 20px;
  padding-bottom: 20px;
}
.HowtoPurchContent h3
{
  margin-left: 5px;
}
.HowtoPurchContent input.btnClose
{
  margin-top: 20px
}
